body {
}

p {
    font:30px;
}
.unit {
    padding: 1px;
    margin:5px;
    /*border: 5px solid black;*/
}
.customStyle3 {
    fill: #00f201;
    fill-opacity:0;
    stroke-width:2px;
    stroke: #029200;
}
.path.customStyle3.fill {
    fill-opacity:0.5 !important;
    stroke: none;
}
/*style für Item von Diagramm*/
.custom-style1 {
    /*Farbe von der Fülle*/
    fill: orangered;
    fill-opacity:0;
    stroke-width:2px;
    /*Farbe der Linie*/
    stroke: gray;
}